Package: latin-checker
Version: 1.0
Architecture: amd64
Priority: optional
Depends: g++, make, libc6
Maintainer: NoSmok1ng <igoranpoliakidse@gmail.com>
Description: Checks the rows and columns of a matrix of the specified size n for the presence of numbers from 1 to n
